.topbar {
  height: 60px;
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  padding: 10px 0;

  &__container {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 25px;
  }

  &__nav {
    &_button {
      margin-left: 10px;
      border: none;
      background-color: white;
      padding: 10px 20px;
      border-radius: 3px;
      color: var(--color-blue);
      font-weight: 700;
      cursor: pointer;
      font-size: 13px;
    }
  }
}

.bottombar {
  background-color: var(--color-blue);
  color: white;
  display: flex;
  justify-content: center;

  &__container {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
  }

  &__list {
    display: flex;
    gap: 40px;
  }

  &__icon {
    display: flex;
    font-family: sans-serif;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    color: white;
    padding: 13px;
    cursor: pointer;

    svg {
      width: 18px;
    }

    &:hover {
      background-color: var(--color-light-blue);
      border-radius: 20px;
    }

    &_active {
      border: 1px solid white;
      border-radius: 20px;
      background-color: var(--color-light-blue);
    }
  }
}
