.hero {
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  padding-bottom: 80px;

  &__container {
    width: 100%;
    max-width: 1024px;
    color: white;
  }

  &__title {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 45px;
  }

  &__subtitle {
    font-weight: 300;
    padding-top: 20px;
    font-size: 25px;
    font-family: sans-serif;
  }
}
