.search {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
  border: 2px solid rgb(255, 172, 46);

  svg {
    height: 20px;
    opacity: 0.3;
    margin-right: 10px;
  }

  &__field {
    border: 3px solid rgb(255, 172, 46);
    display: flex;
    align-items: center;
    padding: 15px 20px;
    position: relative;

    &:hover {
      outline: 1px solid gray;
    }

    &:nth-of-type(1) {
      flex: 2.5;
    }

    &:nth-of-type(2) {
      flex: 1.5;
    }

    &:nth-of-type(3) {
      flex: 2;
    }

    &:nth-of-type(4) {
      flex: 0.5;
    }
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(255, 172, 46);
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background: rgb(255, 172, 46, 0.8);
    }
  }
}
